body{
  color: azure;
  color: #00003A;
  height: 200vh;
  font-family: 'Montserrat', sans-serif;
}


/* header */
header img.headlogo{
  position: fixed;
  translate: -50% -50%;
  left: 50%;
  top: 47%;
  width: 10%;
  animation: breathing 3s infinite ease-in-out;
  transition: top 0.5s ease-in-out;
}
header img.arrowDown{
  position: fixed;
  translate: -50% -50%;
  left: 50%;
  bottom: 5%;
  width: 50px;
  animation: bounce 1s infinite;
}

@media screen and (max-width: 850px){
  header img.headlogo{
    width: 20%;
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
}


/* main */
.topFix{
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.maincontainer{
  margin: auto;
  max-width: 800px;
  position: relative;
}

.maincontainer h1{
 font-size: 20px;
 font-weight: 900;
 letter-spacing: 15px;
  text-transform: uppercase;
  color: rgb(88, 143, 192);
  color: #00003A;
  margin-top: 20px;
}

.maincontainer p{
  font-size: 15px;
  font-weight: 400;
  color: #00003A;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 400px;
  line-height: 1.4;
 }
.maincontainer p:nth-child(2) {
    margin-left: 50px;
}
.maincontainer p:nth-child(3) {
  margin-left: 100px;
}
.maincontainer p:nth-child(4) {
  margin-left: 150px;
}
.maincontainer p:nth-child(5) {
  margin-left: 200px;
}

 .maincontainer p a{
  font-weight: 300;
  color: #00003A;
  letter-spacing: 5px;
 }

 .maincontainer h2{
  font-size: 20px;
  font-weight: 400;
  color: #00003A;
  margin-bottom: 20px;
  margin: auto;
  width: 80%;
  line-height: 1.4;
 }
 .maincontainer h2 a{
  font-weight: 300;
  color: #00003A;
  letter-spacing: 5px;
 }

.maincontainer img{
  width: 100%;
}
.maincontainer img.hello{
  margin-top: -50px;
}

hr{
  height: 1px;
  background-color: #00003A;
  border: none;
  margin-left: 50px;
}

@media screen and (max-width: 850px){
  .maincontainer{
    width: 80%;
  }
  .maincontainer p:nth-child(2) {
    margin-left: 50px;
}
.maincontainer p:nth-child(3) {
  margin-left: 0px;
}
.maincontainer p:nth-child(4) {
  margin-left: 50px;
}
.maincontainer p:nth-child(5) {
  margin-left: 0px;
}
}

@media screen and (max-width: 520px){
  .maincontainer p{
    width: 280px;
  }
}
@media screen and (max-width: 400px){
  .maincontainer p{
    width: 260px;
   }
}
@media screen and (max-width: 360px){
  .maincontainer p{
    width: 220px;
   }
}

.introduction{
  margin: auto;
  width: fit-content;
  margin-top: 150px;
  margin-bottom: 150px;
}

.articles{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 300px;
}

.article-top{
  position: fixed;
  bottom: -100%;
  translate: -50% 0;
  left: 50%;
  width: 900px;
  height: 90%;
  background: white;
  /* opacity: 75%; */

  z-index: 2;
  background: rgba(255, 255, 255, 0.668);
  /* border:  #00003A 5px solid; */
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.41);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(30px);
  transition: bottom 500ms ease;
}

.article-top-inside{
  /* height: 10000px; */
  height: 100%;
  margin: 20px;
  /* background: rgba(0, 128, 0, 0.605); */
  overflow-y: scroll;
}

.article-top-inside h2{
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 80%;
  line-height: 1.4;
 }
 .article-top-inside li{
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 80%;
  line-height: 1.4;
 }
 .article-top-inside hr{
margin-top: 200px;
 }

.close-button{
  position: absolute;
  top: 20px;
  right: 40px;
  width: 30px;
  height: 30px;
  /* background: red; */
  cursor: pointer;
}


@media screen and (max-width: 935px){
  .article-top{
    width: 95%;
  }
}
@media screen and (max-width: 600px){
  .article-top{
    width: 90%;
  }
}

.art{
  width: 100%;
  margin-bottom: 50px;
  /* background: green; */
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 200px;


}
.art:hover{
  scale: 1.01;
  transition: all 100ms ease;
}

.art img{
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  /* opacity: 75%; */
}

.art .art-tekst{
  background: rgba(0, 0, 0, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 80%;
}

.art p{
  color: aliceblue;
  width: auto;
  padding: 10px 0px;
  font-size: 50px;
  font-weight: 900;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.293);
}


@media screen and (max-width: 850px){
  .art p{
    font-size: 40px;
  }
}
@media screen and (max-width: 700px){
  .art p{
    font-size: 30px;
  }
}
@media screen and (max-width: 520px){
  .art p{
    font-size: 20px;
  }
  .art{
    height: 100px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 400px){

}
@media screen and (max-width: 360px){

}



.slide-in {
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 0.5s, transform 0.5s;
}
.slide-in.slide-in-active {
  opacity: 1;
  transform: translateX(0);
}

.maincontainer img.hello{
  margin-top: -50px;
}
.maincontainer img.sticky-div {
  margin-top: 300px;
  transition: margin-top 0.1s;
}


/* footer */
footer p{
  margin: auto;
  width: fit-content;
  font-size: 10px;
  padding-bottom: 20px;
  margin-top: 300px
}